/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */
/*import vendors*/
@import url(vendors/normalize.css);
@import url(vendors/bootstrap.css);
@import url(vendors/material-icon-round.css);
@import url(vendors/perfect-scrollbar.css);
@import url(vendors/select2.min.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap");
/*RESET*/
html,
div,
span,
h1,
h2,
h3,
h4,
h6,
p,
a,
img,
small,
i,
ul,
li,
form,
label,
table,
tbody,
tr,
th,
td,
aside,
details,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


aside,
details,
footer,
header,
nav,
section {
  display: block;
}


ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

*:focus,
select:focus,
button:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*--- Common Classes---------------------*/
::-webkit-input-placeholder {
  color: #838383;
}
::-ms-input-placeholder {
  color: #838383;
}
::placeholder {
  color: #838383;
}

.section {
  float: left;
  width: 100%;
}

table {
  display: table;
  table-layout: fixed;
  width: auto;
  border-collapse: separate;
}

.table-header-row {
  display: table-row;
  padding: 10px;
  max-width: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  border-collapse: separate;
}

.table-header-row td,
.table-header-row th {
  height: 50px;
  text-align: left;
}

.position-relative {
  position: relative;
}

*:focus,
select:focus,
button:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 13px;
}

.font-xxl {
  font-size: 18px;
}

hr {
  color: #a6acb3 !important;
}

table {
  font-size: 13px;
  color: #495058 !important;
}

table .form-check {
  display: inline-block;
  margin: 0 auto;
}

.table > :not(caption) > * > * {
  padding: 0.8rem 0.4rem;
}

.shadow {
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border: 1px solid #eee;
}

.bg-primary {
  background-color: rgba(8, 129, 120, 0.2);
}

.screen-overlay {
  width: 0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  -webkit-transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
  transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
}

/* =================  DEFINED VARIABLES =================== */

.img-avatar {
  border-radius: 100%;
  border: 3px solid #fff;
}


.img-sm {
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.img-sm {
  width: 60px;
  height: 60px;
}

.center-xy {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
  color: #088178;
}

/* --------------------- titles ---------------------- */

/* ==================  title helpers ================ */

h1,
h2,
h3,
h4,
h6 {
  font-family: "Spartan", sans-serif;
  color: #495057;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

.card-title {
  color: #383e50 !important;
}

.menu-aside {
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.menu-aside a {
  display: block;
  text-decoration: none;
}

.menu-aside .menu-item {
  margin-bottom: 15px;
}

.menu-aside .menu-item .icon {
  color: #74818f;
  margin-right: 10px;
  font-size: 24px;
}

.menu-aside .menu-link {
  padding: 10px;
  font-weight: 500;
  font-size: 13px;
  color: #292f46;
  border-radius: 0.3rem;
  position: relative;
}

.menu-aside .menu-link:hover {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #e9ecef;
}

/*Pagination*/

.btn.btn-primary {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px;
  color: #ffffff;
  border: none;
  background-color: #030808;
  border-radius: 4px;
}

.btn.btn-primary i {
  color: #fff !important;
  margin-right: 5px;
  margin-top: -4px;
}

.btn.btn-primary:hover {
  background-color: #020213;
}

.rounded {
  border-radius: 4px !important;
}

.btn-sm {
  padding: 5px 10px;
}

.btn-sm i {
  font-size: 13px;
  line-height: 0.7;
  vertical-align: bottom;
}

.btn-users {
  background-color: #031b1a;
  border: 0;
  color: #fff;
}

.btn-users:hover {
  background-color: #0c1616;
  color: #fff;
}


.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control,
.form-select {
  background-color: #f4f5f9;
  border: 2px solid #f4f5f9;
  font-size: 13px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 20px;
  color: #4f5d77;
  width: 100%;
  border-radius: 4px;
  height: 45px;
}

.form-control:focus,
.form-select:focus {
  background: transparent;
  border-color: #f4f5f9;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*search form*/

.form-check-input:checked {
  background-color: #088178;
  border-color: #088178;
}

/*Nice select*/

.custom_select {
  position: relative;
  width: 100%;
}

.card-login {
  max-width: 350px;
}

.form-check {
  display: block;
  padding-left: 1.5em;
  margin-bottom: 0;
  min-height: unset;
}

.card {
  margin-bottom: 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}

.card:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ====================== box ==================== */

/* ================= RATINGS ============== */

/* rating-stars */

/*dropdown*/

/*BADGE*/
.badge[href]:focus,
.badge[href]:hover {
  color: #fff;
}

.badge.bg-primary[href]:focus,
.badge.bg-primary[href]:hover {
  background-color: #088178 !important;
}

.badge-soft-success {
  color: #34c38f;
  background-color: rgba(52, 195, 143, 0.18);
}

.badge-soft-success[href]:focus,
.badge-soft-success[href]:hover {
  color: #34c38f;
  text-decoration: none;
  background-color: rgba(52, 195, 143, 0.4);
}

.rounded-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 100%;
  height: auto;
}

/*ANIMATION*/

@-webkit-keyframes shake {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fade-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
}

a[class*="card"] {
  color: initial;
}

a[class*="card"]:hover .title {
  color: #088178;
}

/* ITEM LIST */

/* ITEMSIDE */

/* BASE STYLE FOR PRODUCT ITEM */

/* GRID STYLE PRODUCT ITEM */

/* LARGE LIST STYLE PRODUCT ITEM */

/* --------- description list --------*/

/* -------------------- list.row--------------------- */
ul.row {
  list-style: none;
  padding: 0;
}

/* ================= lists ================= */

/*LAYOUT -> SPACING**/

.pt-15 {
  padding-top: 15px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

/***************************
    Page section margin 
****************************/

.mt-15 {
  margin-top: 15px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.main-wrap {
  margin-left: 300px;
  background-color: #f8f9fa;
  position: relative;
}

.main-wrap .content-main {
  min-height: calc(100vh - 110px);
}

.content-main {
  padding: 30px 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
}

.navbar-aside {
  max-width: 300px;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 10;
  border-right: 1px solid #eee;
}

.navbar-aside .aside-top {
  padding: 12px 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  min-height: 72px;
}

.navbar-aside .aside-top .brand-wrap {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.navbar-aside .aside-top .logo {
  max-width: 120px;
  margin-top: 5px;
  min-width: 120px;
}
.header img {
  float: center;
  width: 100%;
  height: 150px;
  background: transparent;
  border-color: #f4f5f9;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
.main-header {
  padding-left: 3%;
  padding-right: 3%;
  min-height: 72px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border-bottom: 1px solid #eee;
}

.main-header .nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header .brand-wrap img.logo {
  max-width: 130px;
  margin-top: 5px;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-header .content-title {
  margin-bottom: 0;
}

footer.main-footer {
  bottom: 0;
  padding: 30px 3%;
  position: absolute;
  right: 0;
  width: 100%;
  height: 60px;
}

@media (max-width: 1200px) {
  /* tablet devices */
  .main-wrap {
    margin-left: 220px;
  }
  .navbar-aside {
    max-width: 220px;
  }
}

@media (max-width: 992px) {
  /* small tablet devices */
}

@media all and (max-width: 768px) {
  /* mobile devices */
  .navbar-aside {
    z-index: 900;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow-x: hidden;
    -webkit-transition: visibility 0.2s ease-in-out,
      -webkit-transform 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
      -webkit-transform 0.2s ease-in-out;
  }
  .navbar-aside .aside-top .logo {
    height: 40px;
  }
  .main-header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .main-wrap {
    margin-left: 0 !important;
  }
  .content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  .content-header .content-title {
    margin-bottom: 1rem;
  }
  .card-header input.form-control {
    margin-bottom: 1rem;
  }
}
